**/node_modules

# next
**/.next

# vercel
.vercel


# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env


# notifyServer
/localNotifyServer/bin/*

.DS_Store